 <!-- Header-->
 <nav class="navbar navbar-default navbar-fixed-top">
    <div class="container-fluid">
        <div class="navbar-header">
            <div id="mobile-menu">
                <div class="left-nav-toggle">
                    <a href="#">
                        <i class="stroke-hamburgermenu"></i>
                    </a>
                </div>
            </div>
            <a class="navbar-brand" href="index-2.html">
                CHAT
                <span>v.1.0</span>
            </a>
        </div>
        <div id="navbar" class="navbar-collapse collapse">
            <div class="left-nav-toggle">
                <a href="#">
                    <i class="stroke-hamburgermenu"></i>
                </a>
            </div>
            <ul class="nav navbar-nav navbar-right">
                <li class=" profil-link">
                    <a routerLink="/">
                        <span class="profile-address">Pillaca</span>
                        <img src="assets/images/profile.jpg" class="img-circle" alt="">
                    </a>
                </li>
            </ul>
        </div>
    </div>
</nav>
<!-- End header-->

<!-- Navigation-->
<aside class="navigation">
    <nav>
        <ul class="nav luna-nav">
          
            <li class="nav-description">
                <p style="margin: 10px;">Bienvenido a nuestro chat inteligente. Aquí puedes hacer preguntas sobre una amplia variedad de temas y recibir respuestas informativas. Nuestro sistema utiliza inteligencia artificial avanzada para proporcionar información precisa y relevante.</p>
            </li>
            <li class="nav-info">
              
                <div class="m-t-xs">
                    <span class="c-white">Chat </span> 
                     2024
                </div>
            </li>
        </ul>
    </nav>
</aside>
<!-- End navigation-->
